= simple_form_for @reservation, :validate => true, :html => { :class => 'form-horizontal' } do |f|
  = f.simple_fields_for :guest do |g|
    .control-group
      = g.label :name, :class => 'control-label'
      .controls
        = g.text_field :name, :class => 'text_field'
    .control-group
      = g.label :addr1, :class => 'control-label'
      .controls
        = g.text_field :addr1, :class => 'text_field'
    .control-group
      = g.label :addr2, :class => 'control-label'
      .controls
        = g.text_field :addr2, :class => 'text_field'
    .control-group
      = g.label :addr3, :class => 'control-label'
      .controls
        = g.text_field :addr3, :class => 'text_field'
    .control-group
      = g.label :addr4, :class => 'control-label'
      .controls
        = g.text_field :addr4, :class => 'text_field'
    .control-group
      = g.label :phone, :class => 'control-label'
      .controls
        = g.text_field :phone, :class => 'text_field'
    .control-group
      = g.label :mobile, :class => 'control-label'
      .controls
        = g.text_field :mobile, :class => 'text_field'
    .control-group
      = g.label :email, :class => 'control-label'
      .controls
        = g.text_field :email, :class => 'text_field'
  = simple_fields_for @allocation do |a|
    .control-group
      = a.label :room_type, :class => 'control-label'
      .controls
        = a.collection_select :room_type, RoomType.all, :id, :name
    .control-group
      = a.label :room, :class => 'control-label'
      .controls
        = a.text_field :room, :class => 'text_field', :value => @allocation.room.blank? ? '' : @allocation.room.alias
  .control-group
    = f.label :arrival_date, :class => 'control-label'
    .controls
      = f.text_field :arrival_date, :class => 'datepicker'
  .control-group
    = f.label :departure_date, :class => 'control-label'
    .controls
      = f.text_field :departure_date, :class => 'datepicker'
  .control-group
    = f.label :nights, :class => 'control-label'
    .controls
      = f.number_field :nights, :class => 'number_field'
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), reservations_path, :class => 'btn'
